@define-color bg rgb(20, 20, 30);
@define-color bg_1 alpha(@bg, 0.1);
@define-color bg_2 alpha(@bg, 0.2);
@define-color bg_3 alpha(@bg, 0.3);
@define-color bg_4 alpha(@bg, 0.4);
@define-color bg_5 alpha(@bg, 0.5);
@define-color bg_6 alpha(@bg, 0.6);
@define-color bg_7 alpha(@bg, 0.7);
@define-color bg_8 alpha(@bg, 0.8);
@define-color bg_9 alpha(@bg, 0.9);

@define-color primary_1 alpha({{colors.primary.default.rgb}}, 0.1);
@define-color primary_2 alpha({{colors.primary.default.rgb}}, 0.2);
@define-color primary_3 alpha({{colors.primary.default.rgb}}, 0.3);
@define-color primary_4 alpha({{colors.primary.default.rgb}}, 0.4);
@define-color primary_5 alpha({{colors.primary.default.rgb}}, 0.5);
@define-color primary_6 alpha({{colors.primary.default.rgb}}, 0.6);
@define-color primary_7 alpha({{colors.primary.default.rgb}}, 0.7);
@define-color primary_8 alpha({{colors.primary.default.rgb}}, 0.8);
@define-color primary_9 alpha({{colors.primary.default.rgb}}, 0.9);

<* for name, value in colors *>
@define-color {{name}} {{value.default.hex}};
<* endfor *>
