* {
  font-family: "JetBrainsMono NFP";
  font-size: 15px;
  font-weight: bold;
  min-height: 0;
  min-width: 0;
  border: none;
  box-shadow: none;
  color: #91d7e3;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  transition: 0.2s;
}

#window {
  margin-left: 0.5rem;
}
#window label {
  color: #f5bde6;
}

#waybar {
  background: rgba(24, 25, 38, 0.8);
  border-radius: 10px;
}
#waybar > box {
  margin: 5px 3px;
}

.module,
#workspaces button {
  margin: 0 2px;
  padding: 2px 7px;
}

.modules-left .module {
  margin: 0 2px;
  padding: 0;
}
.modules-left #workspaces button {
  background-color: rgba(183, 189, 248, 0.1);
  color: #b7bdf8;
  box-shadow: inset 1px 1px 0 0 rgba(183, 189, 248, 0.2), inset -1px -1px 0 0 rgba(183, 189, 248, 0.1);
  margin: 0 2px;
  transition: margin 0s;
}
.modules-left #workspaces button:first-child {
  margin-left: 0;
}
.modules-left #workspaces button:last-child {
  margin-right: 0;
}
.modules-left #workspaces button label {
  min-width: 15px;
  color: #b7bdf8;
}
.modules-left #workspaces .active {
  color: #f5bde6;
  background: linear-gradient(170deg, rgba(245, 189, 230, 0.3), rgba(245, 189, 230, 0.1));
  box-shadow: inset 1px 1px 0 0 rgba(245, 189, 230, 0.2), inset -1px -1px 0 0 rgba(245, 189, 230, 0.1);
}
.modules-left #workspaces .active label {
  color: #f5bde6;
}

.modules-center .module {
  background-color: rgba(183, 189, 248, 0.1);
  color: #b7bdf8;
  box-shadow: inset 1px 1px 0 0 rgba(183, 189, 248, 0.2), inset -1px -1px 0 0 rgba(183, 189, 248, 0.1);
  min-width: 1.5rem;
}

.modules-right .module {
  color: #91d7e3;
  background: linear-gradient(170deg, rgba(145, 215, 227, 0.3), rgba(145, 215, 227, 0.1));
  box-shadow: inset 1px 1px 0 0 rgba(145, 215, 227, 0.2), inset -1px -1px 0 0 rgba(145, 215, 227, 0.1);
}
.modules-right .module#clock {
  background: none;
  box-shadow: none;
}

#custom-power-profile.power-saver,
#custom-updates.checking {
  color: #a6da95;
  background: linear-gradient(170deg, rgba(166, 218, 149, 0.3), rgba(166, 218, 149, 0.1));
  box-shadow: inset 1px 1px 0 0 rgba(166, 218, 149, 0.2), inset -1px -1px 0 0 rgba(166, 218, 149, 0.1);
}

#battery.warning:not(.charging),
#battery.critical:not(.charging),
.module.off,
#network.disconnected,
#network.disabled {
  color: #ed8796;
  background: linear-gradient(170deg, rgba(237, 135, 150, 0.3), rgba(237, 135, 150, 0.1));
  box-shadow: inset 1px 1px 0 0 rgba(237, 135, 150, 0.2), inset -1px -1px 0 0 rgba(237, 135, 150, 0.1);
}

.module.on,
.module.connected,
.module.connected-battery,
#custom-updates.updating,
#custom-power-profile.performance {
  color: #f5a97f;
  background: linear-gradient(170deg, rgba(245, 169, 127, 0.3), rgba(245, 169, 127, 0.1));
  box-shadow: inset 1px 1px 0 0 rgba(245, 169, 127, 0.2), inset -1px -1px 0 0 rgba(245, 169, 127, 0.1);
}

menu {
  border-radius: 10px;
  padding: 0;
  background-color: #181926;
  box-shadow: inset 1px 1px 0 0 rgba(145, 215, 227, 0.2), inset -1px -1px 0 0 rgba(145, 215, 227, 0.1);
}

menuitem {
  margin: 5px;
  padding: 3px 6px;
  border-radius: 6px;
  color: #91d7e3;
}
menuitem:hover {
  color: #91d7e3;
  background: linear-gradient(170deg, rgba(145, 215, 227, 0.3), rgba(145, 215, 227, 0.1));
  box-shadow: inset 1px 1px 0 0 rgba(145, 215, 227, 0.2), inset -1px -1px 0 0 rgba(145, 215, 227, 0.1);
}

/*# sourceMappingURL=style.css.map */
