@use "/home/jj/.config/matugen/generated_templates/catppuccin-macchiato.scss"
  as *;
@use "sass:color";

@mixin glassify($color) {
  color: $color;
  background: linear-gradient(170deg, rgba($color, 0.3), rgba($color, 0.1));
  box-shadow:
    inset 1px 1px 0 0 rgba($color, 0.2),
    inset -1px -1px 0 0 rgba($color, 0.1);
}

* {
  font-family: "JetBrainsMono NFP";
  font-size: 15px;
  font-weight: bold;
  min-height: 0;
  min-width: 0;
  border: none;
  box-shadow: none;
  color: $sky;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

#window {
  margin-left: 0.5rem;
  label {
    color: $pink;
  }
}

#waybar {
  background: rgba($crust, 0.8);
  border-radius: 10px;

  > box {
    margin: 5px 3px;
  }
}

.module,
#workspaces button {
  margin: 0 2px;
  padding: 2px 7px;
}

.modules-left {
  .module {
    margin: 0 2px;
    padding: 0;
  }

  #workspaces {
    button {
      label {
        color: $pink;
        min-width: 15px;
      }

      @include glassify($pink);

      margin: 0 2px;
      transition: none;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.modules-center .module {
  background-color: rgba($lavender, 0.1);
  color: $lavender;
  box-shadow:
    inset 1px 1px 0 0 rgba($lavender, 0.2),
    inset -1px -1px 0 0 rgba($lavender, 0.1);

  min-width: 1.5rem;
}

.modules-right .module {
  @include glassify($sky);

  &#clock {
    background: none;
    box-shadow: none;
  }
}

#custom-power-profile.power-saver,
#custom-updates.checking {
  @include glassify($green);
}

#battery.warning:not(.charging),
#battery.critical:not(.charging),
.module.off,
#network.disconnected,
#network.disabled {
  @include glassify($red);
}

.module.on,
.module.connected,
.module.connected-battery,
#custom-updates.updating,
#custom-power-profile.performance {
  @include glassify($peach);
}

menu {
  border-radius: 10px;
  padding: 0;
  background-color: $crust;
  box-shadow:
    inset 1px 1px 0 0 rgba($sky, 0.2),
    inset -1px -1px 0 0 rgba($sky, 0.1);
}

menuitem {
  margin: 5px;
  padding: 3px 6px;
  border-radius: 6px;
  color: $sky;

  &:hover {
    @include glassify($sky);
  }
}
