themes {
    matugen {
        text_unselected {
            base e0e4dc
            background 1c211c
            emphasis_0 9bd4a0
            emphasis_1 b8ccb6
            emphasis_2 a1ced7
            emphasis_3 c1c9be
        }
        text_selected {
            base 003915
            background 9bd4a0
            emphasis_0 b8ccb6
            emphasis_1 a1ced7
            emphasis_2 003915
            emphasis_3 101510
        }
        ribbon_unselected {
            base c1c9be
            background 101510
            emphasis_0 9bd4a0
            emphasis_1 414941
            emphasis_2 b8ccb6
            emphasis_3 a1ced7
        }
        ribbon_selected {
            base 003915
            background 9bd4a0
            emphasis_0 b8ccb6
            emphasis_1 a1ced7
            emphasis_2 003915
            emphasis_3 101510
        }
        table_title {
            base 9bd4a0
            background 0
            emphasis_0 b8ccb6
            emphasis_1 a1ced7
            emphasis_2 e0e4dc
            emphasis_3 414941
        }
        table_cell_unselected {
            base e0e4dc
            background 101510
            emphasis_0 9bd4a0
            emphasis_1 b8ccb6
            emphasis_2 a1ced7
            emphasis_3 c1c9be
        }
        table_cell_selected {
            base 003915
            background 9bd4a0
            emphasis_0 b8ccb6
            emphasis_1 a1ced7
            emphasis_2 003915
            emphasis_3 101510
        }
        list_unselected {
            base e0e4dc
            background 101510
            emphasis_0 9bd4a0
            emphasis_1 b8ccb6
            emphasis_2 a1ced7
            emphasis_3 c1c9be
        }
        list_selected {
            base 003915
            background 9bd4a0
            emphasis_0 b8ccb6
            emphasis_1 a1ced7
            emphasis_2 003915
            emphasis_3 101510
        }
        frame_selected {
            base 9bd4a0
            background 0
            emphasis_0 b8ccb6
            emphasis_1 a1ced7
            emphasis_2 e0e4dc
            emphasis_3 0
        }
        frame_highlight {
            base b8ccb6
            background 0
            emphasis_0 9bd4a0
            emphasis_1 a1ced7
            emphasis_2 e0e4dc
            emphasis_3 414941
        }
        exit_code_success {
            base a1ced7
            background 0
            emphasis_0 e0e4dc
            emphasis_1 101510
            emphasis_2 9bd4a0
            emphasis_3 b8ccb6
        }
        exit_code_error {
            base ffb4ab
            background 0
            emphasis_0 690005
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 9bd4a0
            player_2 b8ccb6
            player_3 a1ced7
            player_4 e0e4dc
            player_5 414941
            player_6 0
            player_7 ffb4ab
            player_8 0
            player_9 0
            player_10 0
        }
    }
}